html, body {
  height: 100%; /* Makes the html and body to full viewport height */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  overflow: hidden; /* Prevents scrolling on the body itself */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.scrolling {
  height: 100vh; /* Fixed height */
  overflow-y: auto; /* Enables vertical scrolling */
  box-sizing: border-box;
  padding: 20px; /* Optional: for padding inside the container */
}

.logo {
  height: 6em;
  padding: 1.5em;
  padding-bottom: 60;
  will-change: filter;
  transition: filter 300ms;
}

.title{
  padding-top: 20%;
  color: cyan;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
